



    <div class="categorias-wrapper container">
        <div class="row">
            <h2>Categorías</h2>
        </div>
        <div class="row owl-container">
            <div class="col owl-carousel owl-theme" *ngFor="let categoria of categorias"> 
                <div class="categoria-card item text-center">
                    <img src="{{categoria.imagen}}" alt="..." class="img-fluid rounded-circle">
                    <a  style="text-decoration: none; color:black" [routerLink]="['recetas/resultados/'+categoria.id]"><h3 class="mt-3">{{categoria.nombre}}</h3></a>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="recetas-wrapper container d-flex flex-column">
        <div class="row">
            <div class="col">
                <h2>Recetas</h2>
            </div>
        </div>
        <div class="row">
            <div class="col   receta-col">
                <div class="card receta"  *ngFor="let receta of recetas | slice:0:3">
                    <img src="{{receta.imagen}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Titulo: {{receta.titulo}}</h5>
                      <p class="card-text">Descripción: {{receta.descripcion}}</p>
                      <div class="container">
                          <div class="row ">
                                <div class="col d-flex flex-row">
                                    <a [routerLink]="['recetas/editarReceta/'+receta.id]" class="card-link btn     btn-secondary">Editar Receta</a>
                                    <a  [routerLink]="['recetas/recetaUnica/'+receta.id] "  class="card-link  btn btn-primary">Ver Receta</a>
                                    <a  class="card-link btn btn-danger" (click)="eliminarReceta(receta.id);">Eliminar Receta</a>
                                </div>
                            </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
        </div>
    </div>



