<div class="container about-title">
    <div class="row">
        <div class="col">
            <h3>About</h3>
        </div>
    </div>
</div>

<div class="container about-main">
    <div class="row">
        <div class="col my-5">
            <h4>We're a group of foodies <br> who love cooking and the internet</h4>
        </div>
    </div>
    <div class="row about-first">
        <div class="col-12">
            <img style="width: 100%;" src="https://images.pexels.com/photos/3326533/pexels-photo-3326533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="imagen de portada del about">
        </div>
    </div>
    <div class="row about-prin-txt">
        <div class="col">
            <p>Food qualities braise chicken cuts bowl through slices butternut snack. Tender meat juicy
                dinners. One-pot low heat plenty of time adobo fat raw soften fruit. sweet renders bone-in
                 marrow richness kitchen, fricassee basted pork shoulder. Delicious butternut squash hunk.</p>
        </div>
    </div>
</div>

<div class="container about-second">
    <div class="row">
        <div class="col-5">
            <h3>Simpel, Easy <br> Recipes for all</h3>
            <p class="mt-5">Juicy meatballs brisket slammin' baked
                shoulder. Juicy smoker soy sauce burgers
                brisket. polenta mustard hunk greens. Wine
                technique snack skewers chuck excess. Oil
                heat slowly. slices natural delicious, set 
               aside magic tbsp skillet, bay leaves brown 
               centerpiece.</p>
        </div>
        <div class="col-6 offset-1">
            <img class="img-fluid" src="https://images.pexels.com/photos/769969/pexels-photo-769969.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="imagen de macarons">
        </div>
    </div>
</div>

<div class="container about-third">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="https://images.pexels.com/photos/1928151/pexels-photo-1928151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="imagen de persona tomando café">
        </div>
        <div class="col offset-1">
            <h3>
                Simple, Easy <br> Recipes for all
            </h3>
            <p class="mt-5">Juicy meatballs brisket slammin' baked
                shoulder. Juicy smoker soy sauce burgers
                brisket. polenta mustard hunk greens. Wine
                technique snack skewers chuck excess. Oil
                heat slowly. slices natural delicious, set 
               aside magic tbsp skillet, bay leaves brown 
               centerpiece.</p>
        </div>
    </div>
</div>