<div class="container-fluid navbar">
    <div class="row d-flex">
        <div class="col-2 offset-1">
            
            <a [routerLink]="['']" class="navbar-brand"><img class="logo" src="../../../../assets/images/logo.png" alt="logo-cookiefy"></a>
        </div>
        <div class="col-5 offset-1 mr-auto">
            <ul class="d-flex flex-row nav-links">
                <li style="cursor: pointer;"><a (click)="llevarRecetas();">Recetas</a></li>
                <li style="cursor: pointer;"><a (click)="llevarNoticias()">Noticias</a></li>
                <li style="cursor: pointer;"><a (click)="llevarAbout()">About</a></li>
                <li style="cursor: pointer;"><a (click)="llevarLogin()" *ngIf=" rolUsuario == null">Login</a></li>
                <li style="cursor: pointer;"><a (click)="logOut()" *ngIf=" rolUsuario != null">Log Out</a></li>
                <li style="cursor: pointer;"><a (click)="llevarEditarPerfil();" *ngIf=" rolUsuario ===  'ROLE_USER'">Editar perfil</a></li>

            </ul>
        </div>
        <div class="col-2 offset-1  perfil">
            <a style="cursor: pointer; text-decoration: none; color: black;" (click)="llevarPerfil();" *ngIf="rolUsuario==='ROLE_USER'">Perfil</a>
        </div>
    </div>    
</div>
  
<div class="container mt-5" *ngFor="let dato of usuario">
    <div class="row mb-3">
        <h3>Mis datos</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="container datos-perfil">
                <div class="row">
                    <div class="col">
                        <div>
                            <p>Nombre</p>
                        <p>{{dato.username}}</p>
                        </div>
                        <div>
                            <p>Email</p>
                            <p>{{dato.email}}</p>
                        </div>
                    </div>
                    <div class="col">
                        <div>
                            <p>Fech.creación</p>
                            <p>{{dato.created_at| date:'yyyy-MM-dd'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" >
    <div class="row  mb-3" style="border-bottom: solid 1px black;">
        <div class="col">
            <h3>Mis Recetas</h3>
        </div>
    </div>
    <div class="row mt-5" *ngFor="let receta of recetas[0]">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{receta.imagen}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{receta.titulo}}</h5>
              <p class="card-text">{{receta.descripcion}}</p>
              <a (click)="llevarRecetaUnica(receta.id)" class="btn btn-primary">Ver</a>
              <a [routerLink]="['/recetas/recetaUnica/'+receta.id]" class="btn btn-secondary">Editar</a>
            </div>
          </div>
    </div>
</div>

<footer class="container-fluid mt-5">
    <div class="row">
        <div class="footer-text col-5 offset-1">
            <h3>Daily Cooking Tips and  recipes to your inbox !</h3>
        </div>
        <div class="footer-form col-5 offset-1 align-self-center">
            <form action="" class="newsletter">
                <input type="email">
                <button>JOIN!</button>
            </form>
        </div>
    </div>
</footer>

<div class="container-fluid links align-center justify-content-center align-content-center">
    <div class="row">
        <div class="col-5 offset-1">
            <h3>cookiefy</h3>
            <p>"On the other hand, we denounce with righteous 
                indignation and dislike men who are so beguiled 
                and demoralized by the charms of pleasure of the
                 moment</p>
        </div>
        
        <div class="col-2">
            <ul>
                <li>Cookiefy</li>
                <li>About Us</li>
                <li>Careers</li>
                <li>Contact us</li>
                <li>Feedback</li>
            </ul>
        </div>
        <div class="col-2">
            <ul>
                <li>Legal</li>
                <li>Terms</li>
                <li>Conditions</li>
                <li>Cookies</li>
                <li>Capyright</li>
            </ul>
        </div>
        <div class="col-2">
            <ul>
                <li>Follow</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
        </div>
    </div>
</div> 