<div class="login-wrapper container  rounded">
    <div class="row login-logo text-center">
        <div class="col form-title">Añadir Receta</div>
    </div>
    <div class="row input-wrapper">
            <form #forumario="ngForm" enctype="multipart/form-data" >
              <div class="d-flex flex-row">
              <div class="col-5">
                <div class="form-group mt-4 d-flex flex-column">
                    <label  for="email">Titulo</label>
                    <input #self="ngModel" [(ngModel)]="aniadirReceta.titulo" type="text" required name="titulo" id="titulo">
                </div>
                <div class="form-group mt-4 d-flex flex-column">
                  <label for="contrasenia">Cuerpo</label>
                  <textarea #self="ngModel" [(ngModel)]="aniadirReceta.cuerpo"  required name="cuerpo" id="cuerpo"></textarea>
                </div>
                <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Link</label>
                      <input #self="ngModel" [(ngModel)]="aniadirReceta.link" type="text" required name="link" id="link">
                  </div>
                  <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Categoria</label>
                    <select  #self="ngModel" [(ngModel)]="aniadirReceta.categoria" required  name="categoria" id="categoria">
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.value">{{categoria.text}}</option>
                    </select>                    </div>
                  <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Ingredientes</label>
                    <select  #self="ngModel" [(ngModel)]="aniadirReceta.ingredientes" required  name="ingredientes" id="ingredientes">
                        <option *ngFor="let ingrediente of ingredientes" [ngValue]="ingrediente">{{ingrediente}}</option>
                    </select>                  </div>
                  </div>
                  <div class="col-5 offset-1">
                  <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Descripción</label>
                      <textarea #self="ngModel" [(ngModel)]="aniadirReceta.descripcion"  required name="descripción" id="descripción"></textarea>
                  </div>
                  <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Dificultad</label>
                    <select  #self="ngModel" [(ngModel)]="aniadirReceta.dificultad" required  name="dificultad" id="dificultad">
                        <option *ngFor="let dif of dificultadSelectOpt" [ngValue]="dif.value">{{dif.text}}</option>
                    </select>
                  </div>
                  <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Tiempo</label>
                    <select  #self="ngModel" [(ngModel)]="aniadirReceta.tiempo" required  name="tiempo" id="tiempo">
                        <option *ngFor="let tmp of tiempoSelectOpt" [ngValue]="tmp.value">{{tmp.text}}</option>
                    </select>
                  </div>
                  <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Comensales</label>
                    <select  #self="ngModel" [(ngModel)]="aniadirReceta.comensales" required  name="comensales" id="comensales">
                        <option *ngFor="let comensal of comensalesSelectOpt" [ngValue]="comensal.value">{{comensal.text}}</option>
                    </select>
                </div>
                <div class="form-group mt-4 d-flex flex-column">
                    <label for="contrasenia">Imagen</label>
                      <input #self="ngModel" [(ngModel)]="aniadirReceta.imagen" type="text" required name="imagen" id="imagen">
                  </div>
                </div>
              </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn login  text-white btn-form" (click)="addReceta()" style="background-color: #FF642B;">Añadir Receta</button>
                  </div>
            </form>
    </div>
</div>
