
.form-title{
    font-family: "Play Fair Normal", serif;
    font-size: 3rem  ;
}
  
.login-wrapper{
    position: relative;
    margin-top: 7rem;
    padding: 2rem 4rem 2rem 4rem;
    border: 1px  solid black;
    
     
}

.form-group{
    label{
        color: gray;
      }

    input{
        &:focus{
            resize: none;
            outline: none;
        }
        border: 0;
        padding: 0;
        border-bottom: 2px solid #eee;
      }
}

.btn-form{
    padding: 1rem 2rem 1rem 2rem;

}
