@font-face{
    font-family: "Play Fair Normal";
    src:url('../../../../../assets/Playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
@font-face{
    font-family: "Play Fair O";
    src:url('../../../../../assets/Playfair/PlayfairDisplay-VariableFont_wght.ttf');
}


.titulo{  
    h3{
        font-family: "Play Fair Normal", serif;
    }
    
    border-bottom: 1px black solid;
    width: 100%;
}

.recetas-wrapper{
    display: grid;
    width: 70vw;
    margin: auto;
    margin-top: 3rem;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-template-rows: repeat( auto-fit, minmax(250px, 1fr) );
    column-gap: 4rem;
    row-gap: 3rem;
}


.receta-col{
    display: grid;
    width: 70vw;
    margin: auto;
    margin-top: 3rem;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    column-gap: 4rem;

    .receta{
        margin: auto;
    }
}



footer{
    background-color: #FFD8CA !important;
    background-size: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .footer-text{
        font-family: "Play Fair Normal", serif;
        font-size: 7rem ;
    }

    .footer-form{
        input{
            border: none;
            padding: 0.5rem;
        }

        button{
            color: white;
            background-color: #FF642B;
            padding: 0.5rem;
            border: none;
        }
    }
}

.links{
    padding: 4rem 2rem 2rem 4rem;
    background-color: #cccaca98;
    .col-5{
        h3{
            text-transform: capitalize;
            font-family: "Play Fair Normal", serif;
        }
    }

    .col-2{
        width: fit-content;
        margin-left: 3rem;
        ul{
            list-style: none;
            li{
                color: gray;
                padding-top: 0.2rem;
            }
            :first-child{
               font-weight: bold;
               color: black;
            }
        }
    }
}


.navbar{
    margin-bottom: 2rem;
   padding-top: 3rem;
    height: 20vh;
   .row{
       width: 100%;
   }
}
.nav-links{
    list-style: none;
    li{
        &:not(&:first-child){
            margin-left: 2rem;
        }
        a{
            font-family: "Play Fair O", serif;
            font-size: clamp(0.8rem,1.3rem,1.5rem);
            text-decoration: none;
            color: black;
        }
    }
}

.perfil{
            font-family: "Play Fair O", serif;
            font-size: clamp(0.8rem,1.3rem,1.5rem);
            text-decoration: none;
            color: black;
}

.logo{
    width: 8rem;
    height: 7rem;
    transform: translateY(-30%);
}


.receta-card{
    width: 21rem;
    min-height:30rem;
    &__text{
        padding: 1rem;
        height: fit-content;
        margin: 0;
        width: 100%;
        background-color: #E3F0FF;
        
        // &__desc{
        //     text-overflow: ellipsis;
        //     overflow: hidden; 
        //     width: 16rem; 
        //     height: 1.2em; 
        //     white-space: nowrap;
        // }
        h5{
            font-family: "Play Fair Normal";
            font-weight: bold;
        }
    }
}


.star-rating{
    i{
        font-size: 1.3rem;
    }
}

.arrow-container{
    i{
        border-radius: 20px;
        background-color: white;
        color: black;
        font-size:2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}