@font-face{
    font-family: "Play Fair Normal";
    src:url('../../../../../assets/Playfair/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}
@font-face{
    font-family: "Play Fair O";
    src:url('../../../../../assets/Playfair/PlayfairDisplay-VariableFont_wght.ttf');
}
.noticias-titulo{
    display: flex;
    flex-direction: row;
    
    button{
        justify-self: flex-end;
    }
    h2{
        font-family: "Play Fair Normal", serif;
    }
    padding-bottom: 1rem;
    border-bottom: solid 1px black;
}

footer{
    background-color: #FFD8CA !important;
    background-size: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .footer-text{
        font-family: "Play Fair Normal", serif;
        font-size: 7rem ;
    }

    .footer-form{
        input{
            border: none;
            padding: 0.5rem;
        }

        button{
            color: white;
            background-color: #FF642B;
            padding: 0.5rem;
            border: none;
        }
    }
}

.links{
    padding: 4rem 2rem 2rem 4rem;
    background-color: #cccaca98;
    .col-5{
        h3{
            text-transform: capitalize;
            font-family: "Play Fair Normal", serif;
        }
    }

    .col-2{
        width: fit-content;
        margin-left: 3rem;
        ul{
            list-style: none;
            li{
                color: gray;
                padding-top: 0.2rem;
            }
            :first-child{
               font-weight: bold;
               color: black;
            }
        }
    }
}

.btn-danger{
    margin-left: 2rem !important;
}

.navbar{
    margin-bottom: 2rem;
   padding-top: 3rem;
    height: 20vh;
   .row{
       width: 100%;
   }
}
.nav-links{
    list-style: none;
    li{
        &:not(&:first-child){
            margin-left: 2rem;
        }
        a{
            font-family: "Play Fair O", serif;
            font-size: clamp(0.8rem,1.3rem,1.5rem);
            text-decoration: none;
            color: black;
        }
    }
}

.perfil{
            font-family: "Play Fair O", serif;
            font-size: clamp(0.8rem,1.3rem,1.5rem);
            text-decoration: none;
            color: black;
}

.logo{
    width: 8rem;
    height: 7rem;
    transform: translateY(-30%);
}

